<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            padding: 60px;
        }

        .tr-head{
            background: #dff0d8;
        }
    </style>
    <link rel="stylesheet" href="../static/bootstrap/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="" class="brand">
                    IDGS-801
                </a>
                <ul class="nav">
                    <li class="active">
                        <a href="">
                            <i class="icon-home icon-white">
                                Inicio
                            </i>
                        </a>
                    </li>
                    <li class="active">
                        <a href="">
                            <i class="icon-user icon-white">
                                Usuarios
                            </i>
                        </a>
                    </li>
                    <li class="active">
                        <a href="">
                            <i class="icon-user icon-white">
                                Alumnos
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        {% width messages=get_flashed_messages()}
            {%if messages%}
                {% for message in messages%}
                <div class="alert alert-success" role="alert">
                    {{message}}
                  </div>
                {%endfor%}
            {%endif%}
        {%endwidth%}

        {% block content %}
        
        {% endblock %}
    </div>
</body>
</html>